**/__pycache__/

embeddings/
tta/
output/
output2/
logs/
graph_al.egg-info/
wandb/
notebooks/
graph_al/utils/_sbm.cpython-311-x86_64-linux-gnu.so
*.pt
*.csv
*.npz
*.ipynb
*.c
*.txt
*.log
*.png
*.jpg
*.zip
util_maintenance.py
